node_modules/
.next/
out/
.vercel/
dist/
build/
coverage/
.turbo/
*.tsbuildinfo

.env
.env.local
.env.*.local

*.log
.DS_Store
.idea/
.vscode/
!.vscode/settings.json.example

# prisma / sqlite
*.db
*.db-journal
prisma/dev.db*

# uploads
public/uploads/*
!public/uploads/.gitkeep
